<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Update note</title>
  </head>
  <body>

    <form th:method="POST" th:action="@{/notes/{id}(id=${webNote.getId()})}" th:object="${webNote}">
      <input type="hidden" name="_method" value="PATCH">
      <label for="note">Enter note:</label>
      <input type="text" th:field="*{note}" id="note"/>
      <br/>
      <input type="submit" value="Update note"/>
    </form>

  </body>
</html>
